.viewmore {
    padding: 10px;
    border: none;
    margin-bottom: 30px;
border-top-left-radius: 10px;
border-bottom-right-radius: 10px;
    margin-left: 35%; 
    margin-top: -10px;
    filter: drop-shadow(0 0 0.75rem rgba(51, 51, 51, 0.842));
    background-color: rgb(0, 0, 0);
    position: relative;
}
#viewmore
{
    color: aliceblue;
    
}

.home{
    background-color: rgb(255, 255, 255);
    
}

.Stylewithoffers{
    justify-content: center;
    text-align: center;
     filter: drop-shadow(0 0 0.75rem rgba(223, 133, 15, 0.76));
}

body{
box-sizing: border-box;
margin: 0;
}